$primary: #5265E1;
$secondary: #FA5959;
$grey: #9c9b9b;

.text {
    font-size: 12px;
    color: $grey;
}
.specialText {
    font-size: 12px;
    color: $grey;
    text-align: center !important;
}
.specialTitle {
    text-align: center !important;
}

// Variables and Values: Navbar
$navbar-light-color: $grey;
$navbar-light-hover-color: $secondary;

#collapsibleNavbar {
    justify-content: right;
}
.nav-item {
    font-size: 12px;
    letter-spacing: 0.2px;
}
.navbar-toggler {
    border-color: white !important;

    .navbar-toggler-icon {
        background-image: url("../img/icon-hamburger.svg") !important;
    }
}

// Variables and Values: Buttons
.btn {
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    font-size: 11px !important;
    &:hover {
        background-color: transparent !important;
    }
}

.btn-primary {
    &:hover {
        color: $primary !important;
    }
}

.btn-secondary {
    &:hover {
        color: $secondary !important;
    }
}

.btn-dark {
    &:hover {
        color: #5e5b5b !important;
    }
}
.accordion-button {
    &:after {
        background-image: url("../img/icon-arrow.svg") !important;
    }
}
// Variables and values: Cards
.cards {
    @media screen and (max-width: 500px) {
        height: auto !important;
        .card {
            margin-top: 20px;
        }
    }
    @media screen and (min-width: 800px) {
        height: 250px !important;
    }

    .card {
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .card-body {
        text-align: center;
        font-size: 10px;
    }
    .card-text {
        color: $grey;
    }
    .card-img-top {
        width: 20%;
        height: 20%;
    }
}

// Variables and values: Contact
.blue {
    background-color: $primary;
}
.contact-text-first {
    color: #ffffff;
    text-align: center;
    font-size: 10px;
    letter-spacing: 2px;
}
.contact-text-second {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
}
.invalid-feedback {
    color: #ffffff !important;
    font-size: 10px !important;
    font-style: italic;
    border-radius: 2px;
    padding: 4px;
    background-color: $secondary;
}
// Variables and Values: Footer
.dark-blue {
    background-color: #212155;
}

// IMPORTING BOOTSTRAP
@import '../node_modules/bootstrap/scss/bootstrap';
